### data types in python

In [1]:
#stacks-- last iin first out

stack = ["john" , "jim"]
stack.append("allen")

In [2]:
stack

['john', 'jim', 'allen']

In [3]:
stack.pop()

'allen'

In [4]:
stack

['john', 'jim']

In [18]:
#first in first out--- queue----popleft

from collections import deque
queue =deque(["john","jim","allen"]) 
queue

deque(['john', 'jim', 'allen'])

In [19]:
queue.popleft()

'john'

In [20]:
queue

deque(['jim', 'allen'])

In [21]:
#touple ______cant append but get the element (((immutable)))

In [27]:
#set ---- 
my_set= {"allen", "jim","jim", "john","miky", "cena"}

In [28]:
my_set #unodered , unrepeted

{'allen', 'cena', 'jim', 'john', 'miky'}

In [29]:
#to create a set
a_list=["allen", "jim","jim", "john","miky", "cena"]
a= set(a_list)
a

{'allen', 'cena', 'jim', 'john', 'miky'}

In [30]:
#if we want to check if anythoing oin my set then we will do "in"
"john" in a

True

In [31]:
"jack" in a

False

In [33]:
#   set() method ______________ if we give any word if will split it inn its letters uodered

set("python")

{'h', 'n', 'o', 'p', 't', 'y'}

In [34]:
set1=set("abc")
set2=set("cde")

set1
set2

{'c', 'd', 'e'}

In [35]:
#we can check which leters in commen:
set1.intersection(set2)

{'c'}

In [36]:
#we can also use union method too----------
set1.union(set2)

{'a', 'b', 'c', 'd', 'e'}

In [40]:
#we can also get ifferences bw them
set1.difference(set2)
set2.difference(set1)

{'d', 'e'}

In [42]:
#symmetric difference____________gives everythgng expect common

set1.symmetric_difference(set2)

{'a', 'b', 'd', 'e'}

In [43]:
#dictionary
person = {"name":"jim","age":25}
person

{'name': 'jim', 'age': 25}

In [44]:
person["name"]

'jim'

In [46]:

#keys
list(person.keys())

['name', 'age']

In [47]:
#values
person.values()

dict_values(['jim', 25])

In [51]:
list(person.items())

[('name', 'jim'), ('age', 25)]

In [55]:
for key,value in person.items():
    print(f"the key {key} is attached to the value {value}")

the key name is attached to the value jim
the key age is attached to the value 25

In [56]:
#update existing dictionary

more_info={"is_male": True}
person.update(more_info)
person

{'name': 'jim', 'age': 25, 'is_male': True}

In [58]:
#to clear:
person.clear()
person

{}