In [1]:
#continuing learning pandas short-day

In [ ]:
import pandas as pd
import numpy as np

In [32]:
import pandas as pd
ts=pd.Series(np.arange(0,16,2))
ts

0     0
1     2
2     4
3     6
4     8
5    10
6    12
7    14
dtype: int32

In [8]:
#we can access the each data by calling by its index (neg-indexing not allowed)
ts[4]

8

In [14]:
pd.Series(dates)

0   2000-01-01
1   2000-01-02
2   2000-01-03
3   2000-01-04
4   2000-01-05
5   2000-01-06
6   2000-01-07
7   2000-01-08
dtype: datetime64[ns]

In [38]:
ts=pd.read_csv(r'C:\Users\prince\Desktop\test1\ex1.csv' )
ts 
ts.dtypes

a         int64
b         int64
c         int64
d         int64
names    object
dtype: object

In [24]:
#saving data (to_csv)
ts=pd.Series(np.arange(0,16,2))
ts.to_csv('book.csv')
pd.read_csv('book.csv')

   Unnamed: 0   0
0           0   0
1           1   2
2           2   4
3           3   6
4           4   8
5           5  10
6           6  12
7           7  14

In [40]:
#CHANGING THE DEFAULT INDEXES
dates=pd.date_range('1/1/2000', periods=8)
ts=pd.Series(np.arange(0,16,2) ,index=dates)

#saving this data via to_csv
ts.to_csv('default_index_change_in_series.csv')
ts

2000-01-01     0
2000-01-02     2
2000-01-03     4
2000-01-04     6
2000-01-05     8
2000-01-06    10
2000-01-07    12
2000-01-08    14
Freq: D, dtype: int32