In [45]:
import pandas as pd
import numpy as np

In [46]:
obj="""{"name":"wes",
        "places_lived":["uk","usa","china"],
        "pet":null,
       " siblings":[{"name1":"scott","age":30},
                    {"name2":"katie","age":38}]
        }"""

In [47]:
import json
result = json.loads(obj)
result

{'name': 'wes',
 'places_lived': ['uk', 'usa', 'china'],
 'pet': None,
 ' siblings': [{'name1': 'scott', 'age': 30}, {'name2': 'katie', 'age': 38}]}

In [48]:
type(result)

dict

In [49]:
#convert a dict to json
asjson = json.dumps(result)
asjson

'{"name": "wes", "places_lived": ["uk", "usa", "china"], "pet": null, " siblings": [{"name1": "scott", "age": 30}, {"name2": "katie", "age": 38}]}'

In [56]:
#converting json to dataframe
result["places_lived"]

['uk', 'usa', 'china']

In [57]:
places=pd.DataFrame(result["places_lived"])
places

       0
0     uk
1    usa
2  china

In [70]:
data =pd.read_csv(r'C:\Users\prince\Desktop\test1\ex1.csv')
data.to_json('ex2.json')
data2=pd.read_json('ex2.json')
data2

   a    b   c   d   names
0   1   3   4   5     ram
1   6   7   8   9   radha
2  10  11  12  13  shyama

In [71]:
data2['names']

0       ram
1     radha
2    shyama
Name: names, dtype: object

In [77]:
print(data.to_json(orient='records'))

[{"a ":1,"b":3,"c":4,"d":5,"names":"ram"},{"a ":6,"b":7,"c":8,"d":9,"names":"radha"},{"a ":10,"b":11,"c":12,"d":13,"names":"shyama"}]