In [1]:
#learning binary data format,h5 file format,basic of api's

In [2]:
import pandas as pd
import numpy as np

In [3]:
frame =pd.read_csv(r'C:\Users\prince\Desktop\test1\ex1.csv')
frame
frame.to_pickle('frame_pickle')
pd.read_pickle('frame_pickle')

   a    b   c   d   names
0   1   3   4   5     ram
1   6   7   8   9   radha
2  10  11  12  13  shyama

In [4]:
#in numpy -----random.randn(n)---------generates n number of random numarical data
frame=pd.DataFrame({'a': np.random.randn(100)})
frame

           a
0   0.068076
1   0.079356
2   0.869797
3   1.078498
4   0.920864
..       ...
95 -0.969305
96  1.439066
97  0.066923
98 -0.070966
99 -0.546114

[100 rows x 1 columns]

In [5]:
#An H5 file is a data file saved in the Hierarchical Data Format (HDF). 
#It contains multidimensional arrays of scientific data. 
store=pd.HDFStore('mydata.h5')
store['obj1']=frame
store['obj1.col']=frame['a']
store

C:\Users\prince\anaconda3\lib\site-packages\tables\path.py:155: NaturalNameWarning: object name is not a valid Python identifier: 'obj1.col'; it does not match the pattern ``^[a-zA-Z_][a-zA-Z0-9_]*$``; you will not be able to use natural naming to access this object; using ``getattr()`` will still work, though
  check_attribute_name(name)

<class 'pandas.io.pytables.HDFStore'>
File path: mydata.h5

In [6]:
a=store['obj1']
a

           a
0   0.068076
1   0.079356
2   0.869797
3   1.078498
4   0.920864
..       ...
95 -0.969305
96  1.439066
97  0.066923
98 -0.070966
99 -0.546114

[100 rows x 1 columns]

In [7]:
#now we can manipulate the data as we like
a.head(5)

          a
0  0.068076
1  0.079356
2  0.869797
3  1.078498
4  0.920864

In [44]:
#web APIs
#What is Web API? API stands for Application Programming Interface.
#A Web API is an application programming interface for the Web.
import requests
url='https://github.com/saurabhsrivastava2001/learning-pthon-basics'
resp=requests.get(url)
resp